{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">
                {% if event.id %}
                    Editar evento
                {% else %}
                    Crear evento
                {% endif %}
            </h1>

            <div class="card">
                <div class="card-body">
                    <form method="POST" action="{% if editing %}{% url 'event_edit' event.id %}{% else %}{% url 'event_form' %}{% endif %}">

                        {% csrf_token %}
                        <div class="vstack gap-3">
                            <div>
                                <label for="title" class="form-label">Título del Evento</label>
                                <input class="form-control"
                                    id="title"
                                    required=""
                                    type="text"
                                    value="{{ event.title }}"
                                    name="title" />
                            </div>
                            <div>
                                <label for="description" class="form-label">Descripción</label>
                                <textarea
                                    class="form-control"
                                    id="description"
                                    name="description"
                                    rows="4"
                                    required="">{{ event.description }}</textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="date" class="form-label">Fecha</label>
                                    <input
                                        class="form-control"
                                        id="date"
                                        required=""
                                        type="date"
                                        value="{{ event.scheduled_at|date:'Y-m-d'}}"
                                        name="date" />
                                </div>
                                <div class="col-md-6">
                                    <label for="time" class="form-label">Hora</label>
                                    <input
                                        class="form-control"
                                        id="time"
                                        required=""
                                        type="time"
                                        value="{{ event.scheduled_at|date:'g:i'}}"
                                        name="time" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="price_general" class="form-label">Precio General</label>
                                    <input
                                        class="form-control"
                                        id="price_general"
                                        required
                                        type="number"
                                        step="0.01"
                                        min="1"
                                        value="{{ event.price_general }}"
                                        name="price_general" />
                                </div>
                                <div class="col-md-6">
                                    <label for="price_vip" class="form-label">Precio VIP</label>
                                    <input
                                        class="form-control"
                                        id="price_vip"
                                        required
                                        type="number"
                                        step="0.01"
                                        min="1"
                                        value="{{ event.price_vip }}"
                                        name="price_vip" />
                                </div>
                            </div>

                            <div>
                                <label for="category" class="form-label">Categoría</label>
                                <select class="form-select" id="category" name="category" required>
                                    <option value="">Seleccionar categoría</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}"
                                            {% if event.category and event.category.id == category.id %}
                                                selected
                                            {% endif %}
                                        >{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary">
                                    {% if event.id %}
                                        Actualizar Evento
                                    {% else %}
                                        Crear Evento
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}
