{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Detalles de Entrada</h2>
    
    <div class="card">
        <div class="card-body">
            <p><strong>Código:</strong> {{ ticket.ticket_code }}</p>
            <p><strong>Cantidad:</strong> {{ ticket.quantity }}</p>
            <p><strong>Tipo:</strong> {{ ticket.get_type_display }}</p>  
            <p><strong>Precio unitario:</strong> 
                ${% if ticket.type == 'VIP' %}{{ ticket.event.price_vip }}{% else %}{{ ticket.event.price_general }}{% endif %}
            </p>
            <p><strong>Importe total:</strong> ${{ total_amount }}</p>  
            <p><strong>Evento:</strong> {{ ticket.event.title }}</p>
            <p><strong>Descripción Evento:</strong> {{ ticket.event.description }}</p>
            <p><strong>Fecha de Compra:</strong> {{ ticket.buy_date|date:"d/m/Y" }}</p>
            <p><strong>Hora de Compra:</strong> {{ ticket.buy_date|date:"H:i" }}</p>
            <p><strong>Usuario:</strong> {{ ticket.user.username }}</p>
            <p><strong>Usado:</strong> {{ ticket.used }}</p>
        </div>
    </div>

    <div class="mt-4">
        <form action="{% url 'ticket_delete' ticket.id %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este ticket?')">
                <i class="bi bi-trash"></i> Eliminar Ticket
            </button>
        </form>
    </div>

    <div class="row mt-3">
        <div class="col-2">
            <a href="{% url 'user_ticket_list' %}" class="btn btn-secondary">Volver a mis tickets</a>
        </div>
    
        {% if user.is_organizer %}
        <div class="col-2">
            <a href="{% url 'organizer_ticket_list' %}" class="btn btn-secondary">Volver a tickets</a>
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}